@electricBlue: #00B0FF;

.controlsContainer {
  align-items: center;
  background-color: #333645;
  border-bottom: solid 1px #5b5e6a;
	color: white;
	display: flex;
  padding: 8px 0;
}

.filterInput {
	background-color: #333645;
	border-bottom: solid 1px grey;
	border-width: 0 0 1px 0;
	color: #FFF;
	font-size: 14px;
	height: 24px;
	margin: 0 8px 0 0;
	outline: none;
	padding-left: 30px;
	width: 200px;
	transition: border-color 0.2s ease;

	&:focus {
		border-color: @electricBlue
	}
}

.icon {
	fill: #FFF;
}

.filterInputActive {border-color: @electricBlue}

.searchIcon {
	fill: #FFF;
	position: relative;
	left: 24px;
}

.settingsIcon {
	cursor: pointer;
	fill: #FFF;
	position: absolute;
  right: 16px;
	transition: fill 0.2s ease;

	&Active {fill: @electricBlue}

	&:hover {fill: @electricBlue}
}

.nbResults {
	font-size: 12px;
	font-weight: 100;
	margin-top: 12px;
}

.checkbox {
	display: flex;;
}

.checkboxContainer {
	display: flex;
	margin: 0 8px;
	min-height: 20px;
	overflow: hidden;
	position: absolute;
	right: 48px;
	width: 0px;
	transition: width 0.4s ease;

	&Input {
		cursor: pointer;
		margin-right: 4px;
	}

	&Label {
		color: #FFF;
		font-size: 14px;
		font-weight: 100;
		margin-right: 8px;
	}

	&LabelActive {
		color: @electricBlue;
	}
}

.checkboxContainerActive {
	width: 500px;
}

.evenRow {
	background-color: #dadbdb;
	color: #1A2327;
}

.oddRow {
  background-color: #e8e9e9;
	color: #1A2327;
}

.headerColumn {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-weight: 100;
	outline: none;
	padding: 8px;
}

.headerRow {
	background-color: #333645;
	color: #FFF;
	margin-bottom: 4px;
	padding-right: 0 !important;
}

.row {
	display: flex;
	font-size: 14px;
	max-height: 75px;
	margin-bottom: 4px;
	padding-right: 0 !important;
}

.column {
	align-items: center;
	display: flex;
	padding: 8px;
}

.profilePic {
	align-items: center;
	display: flex;
	border-radius: 50%;
	justify-content: center;
}

.spinner {
	margin: auto;
	top: 250px;
}

.listContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

:global(.ReactVirtualized__Table__sortableHeaderIcon) {
	fill: @electricBlue;
}

:global(.ReactVirtualized__Table__Grid) {outline: none}
